.transition{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.text{
	width: 70%;
	font-size: 15px;
	color: #d4d4d4;
}
.text,
.logo{
	float: left;
}
.buttonsContainer{
	margin-top: -5px;
	float: right;
}
.headerButton{
	font-size: 14px;
	color: black;
	border: none;
	background-color: #dedede;
	padding: 2px 7px; 
}
hr{
	border-top: 1px solid #454545;
	width: 100%;
}
.section{
	padding: 5px 10px;
	background-color: black;
	color: rgba(255,255,255,0.65);
	border: 1px solid rgba(255,255,255,.3);
	width: 110px;
	margin: 0px 4.7% 20px 0;
	font-size: 16px;
}
.activeSection{
	border: 1px solid #2a457a;
	background-color : #2a457a;
	color: white
}
.selectSection{
	width: 100%;
	height: 300px;
	border: 1px solid rgba(255,255,255,0.5);
}
.ssTitle{
	color: white;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin-bottom: 0;
}
.loginForm{
	color: white;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	width: 100%;
	font-size: 16px;
}
.hIcon{
	float: right;
    margin-right: 10px;
}
.subSection{
    background-color: #000;
    border-bottom: 1px solid rgba(255,255,255,.3);
	color: #FFF;
	font-weight: bold;
	padding: 5px 0px 5px 10px;
	cursor: pointer;
	display: none;
}
.first{
	display: block;
}
.activeOption{
	background-color : #2a457a;
	border: none;
}
.subTitle{
	color: rgba(255,255,255,.5);
	font-size: 16px;
	margin-bottom: 0px;
}
.editOption{
	padding: 4px 10px;
	background-color: black;
	color: rgba(255,255,255,0.65);
	border: 1px solid rgba(255,255,255,.3);
	width: 110px;
	font-size: 16px;
	text-align: center;
	float: left;
	height: 36px;
}
.rightButton{
	color: #97A543;
	float: right;
	cursor: pointer;
}
.colorButtons{
	padding: 4px 10px;
	background-color: black;
	color: rgba(255,255,255,0.65);
	border: 1px solid rgba(255,255,255,.3);
	width: 110px;
	font-size: 16px;
	text-align: center;
	float: left;
	margin: 0px 5.3% 20px 0;
	height: 36px;
	cursor: pointer;
}
.editOption.social{
    margin: 20px 60px 20px 0px;
    cursor: pointer;
    width: 130px;
}
.color{
	width: 12px;
	height: 16px;
	margin-right: 5px;
	background-color: #FFF;
	float: right;
	margin-top: 5px;
}
.sectionsInput{
	width: 22.2%;
	border: none;
    background-color: transparent;
    border-bottom: 1px solid;
}
.sectionLabels{
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
}
.otherbuttons{
	padding: 5px 10px;
	background-color: black;
	color: rgba(255,255,255,0.65);
	border: 1px solid rgba(255,255,255,.3);
	width: 180px;
	font-size: 16px;
	text-align: center;
	float: left;
	margin: 0px 11.4% 20px 0;
	cursor: pointer;
}
.loginContainer{
	border:1px solid rgba(255,255,255,.3);
	width: 30%;
	height: 222px;
	margin: 0 auto;
	margin-top: 100px;
}
.loginForm{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
label.loginForm{
	padding: 5px;
	text-align: left;
	color: rgba(255,255,255,.3);
}
p.ssTitle{
	border-bottom: 1px solid rgba(255,255,255,.5);
}
form.ssTitle{
	height: 193px;
	background-color: transparent;
    width: 90%;
    margin: 12px auto;
    border: 1px solid rgba(255,255,255,.5);
    padding: 0px;	
}
div.tagsinput span.tag{
	background-color: transparent;
	border: 1px solid rgba(255,255,255,.3);
	color: #FFF;
}
div.tagsinput span.tag a {
	color: rgba(255,255,255,.3);
}
textarea{
	background: transparent;
}
textarea#tags{
	background-color: transparent;
	color: #FFF;
}
.lightbox{
	background-color: rgba(0,0,0,.8);
	width: 100%;
	position: absolute;
	z-index: 20;
	display: none;
}
.img{
	width: 430px;
	margin: 200px auto;
}
#recoverContainer{
	height: 162px;
}
#recoverForm{
	height: 132px;
}
#loginSubmit{
	width: 100%;
	padding: 5px 0px;
}
#tags_tagsinput{
	background-color: transparent;
}
#guardar{
	float: right;
}
#publicar{
	color: #FFF;
	background-color: #aecb29;
}
#grid2{
	padding-top: 18px;
}
#section-5,#youtube,#texto,#movil,.texto{
	margin-right: 0px;
}